<%- include header.ejs %>
	<h2>Welcome! Select a board:</h2>
	<ul id="boards_list">
		<div id="add_btn" class="add_btn hover">
			<a id="plus">+</a>
			<div id="board_form" class="new_content" style="display: none;">
				<input type="text" id="board_name" value="Board Name">
				<button id="add_board_button">Add</button>
				<a id="cancel_button">Cancel</a>
			</div>
		</div>
	</ul>
<%- include footer.ejs %>