<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href=<%= stylesheet %>>
		<link rel="stylesheet" href="/stylesheets/header.css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="/javascripts/header.js"></script>
		<script src=<%= javascript %>></script>
	</head>
	<body>
		<% var user_email = email; %>
		<nav>
			<% if(boards.length > 0) { %>
				<button class="dropdown_button">
					<p>Boards <span class="down_arrow" id="down_arrow">&#9660</span></p>
				</button>
			<% } %>
			<h1>Prello</h1>
			<% if(showOptions) { %>
				<button id="options_button">
					<p><span class="left_arrow">&#9664</span> Options</p>
				</button>
			<% } %>
		</nav>

		<% if(showOptions) { %>
			<div id="side_menu">
				<a class="close_button">&times;</a>
				<a href="/logout" id="logout_button">Logout</a>
			</div>
		<% } %>

		<% if(boards.length > 0) { %>
			<div id="drop_down">
				<ul id="drop_ul">
					<% boards.forEach(function(board) { %>
						<%- `<li class="board_li"><a href="/board/${board._id}">${board.title}</a></li/>` %>
					<% }); %>
					<li id="all_boards_btn" class="board_li"><a href="/">See All</a></li>
				</ul>
			</div>
		<% } %>