<%- include header.ejs %>
	<h1>Enter email:</h1>
	<form id="email_form">
		<input type="email" placeholder="email" name="email" id="email_input">
		<p class="error_msg" id="error"></p>
		<button type="submit">Submit</button>
	</form>

<%- include footer.ejs %>