body {
	background-color: #eee;
}

h2 {
	font-size: 24px;
	margin: 80px 50px 0px 60px;
	color: #555;
	font-weight: lighter;
	text-align: left;
}

#boards_list {
	margin: 10px 50px 0px 50px;
}

.board_btn {
	background-color: #6495ED;
	width: 260px;
	height: 110px;
	display: inline-block;
	margin: 10px 5px 5px 5px;
	vertical-align: top;
	padding: 20px;
	border-radius: 10px;
}

.board_btn a {
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.board_btn:hover {
	background-color: #3D59AB;
	cursor: pointer;
}

#add_btn {
	text-align: center;
	width: 150px;
	background-color: #aaa;
	height: 150px;
	display: inline-block;
	margin: 10px 5px;
	vertical-align: top;
	border: 0;
	border-radius: 10px;
}

#add_btn:hover {
	background-color: #777;
	cursor: pointer;
}

#add_btn a {
	font-size: 120px;
	text-decoration: none;
	color: white;
	position: relative;
	top: -10px;
}
