body {
  margin: 0;
  font-family: Helvetica;
  margin-top: 50px;
  padding-bottom: 20px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  border-radius: 10px;
  padding: 0;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #3D59AB;
  height: 50px;
  width: 100%;
  margin: 0px;
  vertical-align: middle;
}

button span {
  font-size: 10px;
  position: relative;
  vertical-align: middle;
  top: -1.5px;
}

.down_arrow {
  left: 3px;
}

.left_arrow {
  right: 3px;
}

h1 {
  color: white;
  font-weight: lighter;
  margin: auto;
  height: 100%;
  text-align: center;
  padding: 12px 0px;
}

nav button {
  width: 70px;
  border: 0;
  background-color: #3D59AB;
  color: white;
  margin: 15px 15px 15px 20px;
  font-size: 15px;
  position: fixed;
  padding: 0;
}

nav button:hover {
  cursor: pointer;
  color: #6495ED;
}

#options_button {
  right: 20px;
  top: 0px;
}

p {
  margin: 0;
}


/* ////////     ////////    SIDE MENU    ///////    ///////// */


#side_menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #e8e8e8;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
}

.option {
  margin: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #3D59AB;
  display: block;
  transition: 0.3s;
}

#side_menu a:nth-child(2) {
  margin-top: 0px;
}

#side_menu a:hover{
  color: #6495ED;
  cursor: pointer;
}

#side_menu .close_button {
    right: 30px;
}

.close_button {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin: 0;
}

#logout_button {
  clear: both;
}


/* ////////     ////////    DROPDOWN MENU    ///////    ///////// */

#drop_down {
  height: 0px;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #e8e8e8;
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 4px;
}

.board_li {
  height: 15px;
  width: 206px;
  margin: 7px;
  background-color: #3D59AB;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
}

.board_li:hover {
  cursor: pointer;
  background-color: #6495ED;
}

#all_boards_btn {
  text-align: center;
  background-color: #999;
}

#all_boards_btn:hover {
  background-color: #bbb;
}

#drop_down a {
  color:white;
  text-decoration: none;
  width: 206px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
