body {
	background-color: #6495ED;
}

form {
	text-align: left;
	margin: auto;
	margin-top: 100px;
	padding: 35px;
	background-color: white;
	font-size: 15px;
}

label p {
	margin: 15px 0px 0px 2px;
}

input[type=email], input[type=password] {
	width: 100%;
	display: inline-block;
	margin: 5px 0px 5px 0px;
	border:1px solid #bbb;
	border-radius: 4px;
	padding: 8px;
	box-sizing: border-box;
}

input[type=checkbox] {
	margin: 15px 5px 5px 0px;
}

button {
	width: 100%;
	border: 0px;
	border-radius: 4px;
	background-color: #3D59AB;
	color: white;
	padding: 10px;
	font-size: 12px;
}

button[type=submit] {
	margin-top: 20px;
}

button[type=submit]:hover {
	background-color: #6495ED;
	cursor: pointer;
}

form {
	border-radius: 4px;
}

a {
	float: right;
    margin-top: 12px;
    font-size: 14px;
    color:#6495ED;
}

a:hover {
	color: #3D59AB;
	cursor: pointer;
}

.form_container {
	margin: 0px;
}

.main {
	margin: auto;
	width: 450px;
	margin-bottom: 100px;
}

.toggle_container button {
	width: 50%;
	float: left;
	margin-bottom: 25px;
}

.login {
	border-radius: 4px 0px 0px 4px;
}

.register {
	border-radius: 0px 4px 4px 0px;
}

.inactive {
	border: 3px solid #3D59AB;
	padding: 7px 0px;
	background-color: white;
	color: #3D59AB;
}

.inactive:hover {
	color: white;
	background-color: #6495ED;
	cursor: pointer;
}

.inactive + .login {
	border-left: 0px;
}

.inactive + .register {
	border-right: 0px;
}

.error_msg {
	color: red;
}
